@import url(satoshi.css);



html {
    background-color: #E2EBF1;
    cursor: url("cursorMonk.png"), auto;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
    flex: auto;
    background: linear-gradient(180deg, #051324 0%, #D9EAFF 100%);
    min-height: 100%;
    min-width: 100%;

}





body {
    
    /* min-height: 100%;
    min-width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}



#mouse-circle {

    z-index: 2;

    
    position: absolute;
    width: 32px;
    height: 32px;
    margin: -13px 0 0 -13px;
    background: rgba(250, 152, 58, 0.20);
    border-radius: 50%;
    pointer-events: none;

    transition: width 0.2s; /* Transition effect when sliding down (and up) */
    transition: height 0.2s; /* Transition effect when sliding down (and up) */
}

#extraneousLinks {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    margin: 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: fixed;
    /* Make it stick/fixed */
    bottom: 4vh;
    
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    padding: 24px;
    flex-direction: row;
    transition: top 0.3s;

}

#content{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    margin: 24px;
    flex-grow: 1;
}

#habbotSiteBody{
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

#habbotHeroText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    
}

#heroButton{
    display: inline-flex;
    padding: 0px 18px;
    justify-content: center;
    height: 64px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FA983A;

    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);

    color: #FFFAF6;

    text-align: center;

    font-family: 'Satoshi-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
}

h1{
    color: #FFFAF6;

    text-align: center;
    font-family: 'Satoshi-Bold';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.24px;
}

h2{
    color: #FFFAF6;

    text-align: center;
    font-family: 'Satoshi-Regular';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.headerBox {
    
 
    width: 100vw;
    position: fixed;
    top: 0;
    transition: top 0.3s;

}


/* LOGO THINGS */


.logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 72px;
    min-width: 60px;
    max-width: 100px;
    background-color: #91AFEF;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 24px;

    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);



}


.logoBox:hover{
    cursor: url('studio.cursorHover.png'), pointer;

}




.linesRule {
    width: 1px;
    height: 22px;
    background: #D9D9D9;
}

a{
    color: #0A3D62;
    text-decoration: none;
}

a:hover {
    font-family: 'Satoshi-Medium';
    /* cursor: url('studio.cursorHover.png'), pointer; */
    cursor: none;
    
}

a:visited {
    text-decoration: none;
    color: #0A3D62;
}


#footerBox{
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    width: 95vw;
    
    justify-content: flex-end;
    align-items: top;
    opacity: 100;
    padding-bottom: 24px;

    position:fixed;
    transition: bottom 0.3s;
    padding-right: 24px;
    
    bottom: 0px;
}

#mobileMenuButton {
    display: none; /* Hide the mobileMenuButton by default */
}

/* Media query to show the mobileMenuButton when the device width is less than 1488 pixels */
@media (max-width: 1000px) {


    #extraneousLinks{
        display: none;
    }

    #mobileMenuButton {
        z-index: 2;
        display: flex;
     
        margin: 24px;

        gap: 24px;
        position: fixed;
        /* Make it stick/fixed */
        bottom: 4vh;
        flex-direction: column;
        
        transition: top 0.3s;
    
    
        width: 48px;
        height: 48px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
    
        border-radius: 100%;
        background: #FFF;
    
        box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    }
}

#mobileMenuScreen {
    z-index: 1;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    
    
    /* Make it stick/fixed */
    bottom: 4vh;
    flex-direction: column;
    
    transition: top 0.3s;

    width: 48px;
    height: 48px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: fixed;

    border-radius: 100%;
    background: white;

    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
}

#mobileLinks{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -800px;
    font-family: 'Satoshi-Medium';
}

#menuButtonAnim{
    z-index: 0;
    height: 22px;
}

#mobileLinks a{
    color: #FA983A;
}

