@import url(satoshi.css);



html {
    background-color: #E2EBF1;
    cursor: url("cursorMonk.png"), auto;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
    flex: auto;
    background: linear-gradient(180deg, #051324 30%, #D9EAFF 160%);
    min-height: 100%;
    min-width: 100%;

}





body {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(1vh, 0vh, 2vh);
    margin: 0;
    
   
}

.headerBox {
    
 
    width: 100vw;
    position: fixed;
    top: 0;
    transition: top 0.3s;

}


/* LOGO THINGS */


.logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 72px;
    min-width: 60px;
    max-width: 100px;
    background-color: #91AFEF;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 24px;

    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);



}


.logoBox:hover{
    cursor: url('studio.cursorHover.png'), pointer;

}


#mouse-circle {

    z-index: 2;

    
    position: absolute;
    width: 32px;
    height: 32px;
    margin: -13px 0 0 -13px;
    background: rgba(250, 152, 58, 0.20);
    border-radius: 50%;
    pointer-events: none;

    transition: width 0.2s; /* Transition effect when sliding down (and up) */
    transition: height 0.2s; /* Transition effect when sliding down (and up) */
}

#extraneousLinks {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    margin: 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: fixed;
    /* Make it stick/fixed */
    bottom: 4vh;
    
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    padding: 24px;
    flex-direction: row;
    transition: top 0.3s;

}

#habbotSiteBody{
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url("../assets/habbotBG.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    
}

#habbotHeroText{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    
    
}

#heroButton{
    display: flex;
    padding: 0px 24px 2px 24px;
    justify-content: center;
    height: clamp(48px, 60px, 32px);
    margin: clamp(12px, 0px, 0px);
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #FA983A;
    border: 1px solid #FA983A;
    

    color: #FFFAF6;

    font-family: 'Satoshi-Regular';
    
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0px;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);

    
}



#heroButton img{
    padding-top: 3px;
}

h4{
    font-size: clamp(12px, 18px, 18px );
    padding-bottom: px;
    
}

#heroImage{
    display: flex;
    justify-content: center;
}

#heroImage img{
    width: clamp(40vw, 40vw, 60vw);
}




#heroButton:hover{
    cursor: url('studio.cursorHover.png'), pointer;

}

h1{
    color: #FFFAF6;

    text-align: center;
    font-family: 'Satoshi-Medium';
    font-size: clamp(4vw, 24px, 6vw);
    font-style: medium;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: clamp(-2.2px, -2.2px, -1.6px);
}


h2{
    color: #FFFAF6;

    text-align: center;
    font-family: 'Satoshi-Regular';
    font-size: clamp(32px, 18px, 24px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    margin-bottom: 4vh;
}




#moreInfoButton{
    display: flex;
    padding: 0px 24px 2px 24px;
    justify-content: center;
    height: clamp(48px, 60px, 32px);
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 48px;
    background: white;

    

    color: #FA983A;

    font-family: 'Satoshi-Regular';
    
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0px;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);

    
}

#moreInfoButton img{
    fill: #FA983A;
    padding-top: 3px;
    rotate: 90;
}

#explanationContentBox{
 

    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

h3{
    color: white;

    text-align: center;
    font-family: 'Satoshi-Regular';
    font-size: clamp(28px, 16px, 20px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    
}


#fig01{
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

#fig02{
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

#circle01, #circle02, #circle03{
    z-index: 1;
    width: 3vw;
    height: 3vw;
    flex-shrink: 0;
    border-radius: 64px;
    background: #91AFEF;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
}
#timeBtnRack{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;

}
#timeButton01{
    display: flex;
    padding: 0px 24px 2px 24px;
    justify-content: center;
    height: clamp(48px, 60px, 32px);
    margin: clamp(12px, 0px, 0px);
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #FA983A;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    border: 1px solid white;
}



#timeButton02, #timeButton03{
    display: flex;
    padding: 0px 24px 2px 24px;
    justify-content: center;
    height: clamp(48px, 60px, 32px);
    margin: clamp(12px, 0px, 0px);
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 48px;
    background: white;
}

#timeButton01 h4{
    color: white;
    font-family: 'Satoshi-Regular';
    font-size: 16px;
    
    
    
}

#timeButton02 h4, #timeButton03 h4{
    color: #FA983A;
    font-family: 'Satoshi-Regular';
    font-size: 16px;
    
}

#linesRule {
    opacity: 0.5;
    margin-top: 2vh;
    width: 60vw;
    height: 2px;
    background: #D9D9D9;
}

#phoneScreenRack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90vw;
    gap: 48px;
    justify-content: center;
    align-items: center;

}

#phoneScreenRack img{

    width: 12vw;
    
}

h5{
    font-family: "Satoshi-Regular";
    font-size: 12px;
}

footer{
    color: white;
    background-color: #91AFEF;
    height: 4vh;
    width: 100vw;
    gap: 12px;
    margin-top: 4vh;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

}