@import url(satoshi.css);

html {
    /* cursor: url("cursorDark.png"), auto; */
    height: 100%;
    display: flex;
    flex: auto;
    background: #92DD96;
    min-height: 100%;
    min-width: 100%;

}

body {
    min-height: 100vh;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* HEADER THINGS */
#headerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

    width: 95vw;

    /* align-self: stretch; */
    /* flex-grow: 1; */

    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */

    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */

    padding-left: 1.6vw;
    padding-top: 1.6vh;
}



/* LOGO THINGS */
.logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 72px;
    min-width: 60px;
    max-width: 100px;
    background-color: #F5F6FA;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);



}

.logoBox:hover {
    cursor: url('cursorHover.png'), pointer;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
    width: 100%;
}




#sketchbookSection{
    
    display: flex;
    width: 80vw;
    align-items: flex-start;
    align-content: flex-start;
    gap: 4vw;
    flex-shrink: 0;
    flex-wrap: wrap;  
    justify-content: center; 
    padding-bottom: 1.6vh;
}

.imageAndText {
    
    display: flex;
    
    flex-direction: column;
    gap: 1vh;
    max-width: 30vw;
    
}

.imageAndText a{
    
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    
    display: flex;
    align-items: center;
    flex-grow: 0;
    gap: 10px;
}

.imageAndText img{
    
    max-width: 20vw;
    border-radius: 4px;
    box-shadow: 0px 1.6px 4px rgba(7, 66, 47, 0.1);
    
}

#extraneousLinks {
    position: fixed;
    /* Make it stick/fixed */
    bottom: 1vh;
    
    /* Stay on top */
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    gap: 36px;
    background-color: #E2EBF1;
    padding: 2vw;

    flex-direction: row;
    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);
    

    transition: bottom 0.3s;
    /* Transition effect when sliding down (and up) */


}

a{
    color: #0A3D62;
    text-decoration: none;
}

a:hover {
    font-family: 'Satoshi-Medium';
    cursor: url('studio.cursorHover.png'), pointer;
    color: #0A3D62;
    
}

a:visited {
    text-decoration: none;
    color: #0A3D62;
    
}

button:hover {
    cursor: url('studio.cursorHover.png'), pointer;
    
}


#footerBox {
   
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    width: 95vw;
    
    justify-content: flex-end;
    align-items: top;
    opacity: 100;
    padding-bottom: 24px;

    position:fixed;
    transition: bottom 0.3s;
    padding-right: 24px;
    
    bottom: 0px;

}
#footerContent {

    display: flex;
    width: auto;
    height: 2.2vh;
    align-items: center;
    border-radius: 8px;


    padding: 4px 24px;
    gap: 8px;

    font-family: 'Satoshi-Regular';
    font-style: Regular;
    font-size: 0.8em;
    background-color: #F5F6FA;
    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);
    color: #0A3D62;
    white-space: nowrap;



}

