@import url(satoshi.css);

html {
    /* cursor: url("cursorDark.png"), auto; */
    height: 100%;
    display: flex;
    flex: auto;
    background: #1e272e;
    min-height: 100%;
    min-width: 100%;

}

body {
    min-height: 100vh;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* HEADER THINGS */
#headerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

    width: 95vw;

    /* align-self: stretch; */
    /* flex-grow: 1; */

    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */

    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */

    padding-left: 1.6vw;
    padding-top: 1.6vh;
}



/* LOGO THINGS */
.logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 72px;
    min-width: 60px;
    max-width: 100px;
    background-color: #20418A;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);



}

.logoBox:hover {
    cursor: url('cursorHover.png'), pointer;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 40px;
}


#tabBox {

    
    display: flex;
    flex-direction: row;
    gap: 24px;
    

}
#tabBox:hover{
    cursor: url('cursorHover.png'), pointer;
}

#selectedTabTitle{
    color: white;
    font-family: "Satoshi-Bold";
    font-size: 16px;
    text-decoration: underline;
}

#deselectedTabTitle{
    color: #CED8E0;
    font-family: "Satoshi-Regular";
    font-size: 16px;
    text-decoration: none;
}

#deselectedTabTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

#selectedTabTitle:hover{
    text-decoration: none;
}







.entry {

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 24px;
    padding: 24px;

}

.seperatorLine{
    height: 2px;
    width: 90vw;
    background-color: #d2dae2;
}

.Description {

    display: flex;
    flex-direction: column;
    gap: 36px;
}


.Title {
    color: White;
    font-family: "Satoshi-Medium";
    font-size: 20px;
    height: 4px;
}

.Credit {
    color: White;
    font-family: "Satoshi-Italic";
    font-size: 18px;
    height: 18px;
}

.Link a {
    color: grey;
    font-family: "Satoshi-Medium";
    font-size: 14px;
    height: 12px;
    text-decoration: none;

}




.entry img {
    max-height: 40vh;
    max-width: 80vw;
    border-radius: 4px;
}


#extraneousLinks {
    position: fixed;
    /* Make it stick/fixed */
    bottom: 1vh;
    align-self: center;
    /* Stay on top */
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    gap: 36px;
    background-color: #E2EBF1;
    padding: 2vw;

    flex-direction: row;
    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);
    

    transition: bottom 0.3s;
    /* Transition effect when sliding down (and up) */


}

#extraneousLinks {
    z-index: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 24px;
        margin: 24px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        position: fixed;
        /* Make it stick/fixed */
        bottom: 4vh;
        
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
        text-decoration: none;
        font-family: 'Satoshi-Medium';
        padding: 24px;
        flex-direction: row;
        transition: top 0.3s;
    
    }

#extraneousLinks a:hover {
    font-family: 'Satoshi-Medium';
    cursor: url('studio.cursorHover.png'), pointer;
    color: #0A3D62;
    
}

#extraneousLinks a:visited {
    text-decoration: none !important ;
    color: #0A3D62;
    
}

button:hover {
    cursor: url('studio.cursorHover.png'), pointer;
    
}




#footerBox{
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    width: 95vw;
    align-self: center;
    justify-content: flex-end;
    align-items: top;
    opacity: 100;
    padding-bottom: 24px;

    position:fixed;
    transition: bottom 0.3s;
    padding-right: 24px;
    
    bottom: 0px;
}

#footerContent {
    display: flex;
    width: auto;
    height: 2.2vh;
    align-items: center;
    border-radius: 8px;


    padding: 4px 24px;
    gap: 8px;

    font-family: 'Satoshi-Regular';
    font-style: Regular;
    font-size: 0.8em;
    background-color: #f6e58d;
    color: #031421;
    white-space: nowrap;

}