@import url(satoshi.css);

html {
    cursor: url("studio.cursor.png"), auto;
    height: 100%;
    display: flex;
    flex: auto;
    background: #E2EBF1;
    min-height: 100%;
    min-width: 100%;

}


#mouse-circle {

    z-index: 1;

    
    position: absolute;
    width: 36px;
    height: 36px;
    margin: -13px 0 0 -13px;
    background: rgba(10, 61, 98, 0.14);
    border-radius: 50%;
    pointer-events: none;

    transition: width 0.2s; /* Transition effect when sliding down (and up) */
    transition: height 0.2s; /* Transition effect when sliding down (and up) */
}


body {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    
    gap: 0.1vw;

    background-color: #E2EBF1;

}

#content{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}




/* HEADER THINGS */
.headerBox {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

    width: 95vw;

    /* align-self: stretch; */
    /* flex-grow: 1; */

    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */

    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */

    padding-left: 24px;
    padding-top: 24px;
}


/* LOGO THINGS */
.logoAnimation {
    display: flex;
    align-items: center;
    width: 72px;
    min-width: 60px;
    max-width: 100px;
    background-color: #0A3D62;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    
    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);


    
}
.logoAnimation:hover{
    cursor: url('studio.cursorHover.png'), pointer;

}

#aboutMe{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

#aboutMe h4{
    font-family: 'Satoshi-Regular';
    font-size: 18px;
    color: #335D7C;
    height: 0px;
}

#aboutMe a{
    font-family: 'Satoshi-Regular';
    font-size: 18px;
    color: #335D7C;
    height: 0px;
}

#extraneousLinks {

    display: inline-flex;
    flex-wrap: wrap;
    margin: 24px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: fixed;
    /* Make it stick/fixed */
    bottom: 8vh;
    z-index: 0;

    border-radius: 12px;
    background: #FFF;

    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    /* Stay on top */
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    
    
    /* background-color: #E2EBF1; */
    padding: 24px;

    flex-direction: row;
    
    

    transition: top 0.3s;


}

#videoCollection{
    background-color: red;
    width: 1vw;
}



.linesRule {
    width: 1px;
    height: 22px;
    background: #D9D9D9;
}

a{
    color: #0A3D62;
    text-decoration: none;
}

a:hover {
    font-family: 'Satoshi-Medium';
    /* cursor: url('studio.cursorHover.png'), pointer; */
    cursor: none;
    
}

a:visited {
    text-decoration: none;
    color: #0A3D62;
}

button:hover {
    cursor: url('studio.cursorHover.png'), pointer;
    
}


#footerBox{
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    width: 95vw;
    
    justify-content: flex-end;
    align-items: top;
    opacity: 100;
    padding-bottom: 24px;

    position:fixed;
    transition: bottom 0.3s;
    padding-right: 24px;
    
    bottom: 0px;
}
#footerContent {
    



    display: flex;
    width: auto;
    height: 2.2vh;
    align-items: center;
    border-radius: 8px;


    padding: 4px 24px;
    gap: 8px;

    font-family: 'Satoshi-Regular';
    font-style: Regular;
    font-size: 0.8em;
    background-color: #0A3D62;
    color: white;
    white-space: nowrap;



}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    #extraneousLinks {
        display: none; /* Change to block layout for mobile devices */
    }

    .workLink {
        margin: 5px 0; /* Adjust spacing for mobile view */
        display: block; /* Display links as block elements */
    }

    #mobileMenuButton {
        display: block; /* Display the button for mobile devices */
    }
}


