@import url(satoshi.css);

html {
    cursor: url("cursorDark.png"), auto;
    height: 100%;
    display: flex;
    flex: auto;
    background: #306252;
    min-height: 100vw;
    min-width: 100vw;

}

body {
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#mouse-circle {

    z-index: 2;

    
    position: absolute;
    width: 32px;
    height: 32px;
    margin: -13px 0 0 -13px;
    background:rgba(244, 219, 138, 0.2);
    border-radius: 50%;
    pointer-events: none;

}

/* HEADER THINGS */
#headerBox {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

    width: 100vw;


    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */

    transition: top 0.3s;
 
}



/* LOGO THINGS */
.logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 72px;
    min-width: 60px;
    max-width: 100px;
    background-color: #F5F6FA;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 24px;

    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);



}

.logoBox:hover {
    cursor: url('cursorHover.png'), pointer;
}

#content {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
    
}




#sketchbookSection{

    z-index: 1;
    display: flex;
    width: 80vw;
    align-items: flex;
    align-content: flex-start;
    gap: 4vw;
    flex-shrink: 0;
    flex-wrap: wrap;  
    justify-content: center; 
    padding-bottom: 1.6vh;
}

.imageAndText {

    display: flex;
    
    flex-direction: column;
    gap: 1vh;
    max-width: 30vw;
    
}

.imageAndText a{
    
    text-decoration: none;
    
    font-family: 'Satoshi-Medium';
    max-width: 30vw;
    flex-wrap: wrap;
    display: flex;
    max-width: 20vw;
    align-items: center;
    flex-grow: 0;
    gap: 10px;
}

.wideImage{
    display: flex;
 
    
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    margin-right: 6vw;
    margin-left: 6vw;
   
}

.wideImage img{
    border-radius: 4px;
    box-shadow: 0px 1.6px 4px rgba(7, 66, 47, 0.1);
    background-color: #F5F6FA;
    padding: 24px;
    max-width: 100%;
}

.wideImage a {

    padding-top: 1vh;
    text-decoration: none;
    font-family: 'Satoshi-Medium'; 
    display: flex;
    flex-wrap: wrap;
    text-align: left;
   
}

.imageAndText img{
    
    max-width: 20vw;
    border-radius: 4px;
    box-shadow: 0px 1.6px 4px rgba(7, 66, 47, 0.1);
    
}

.linesRule {
    width: 1px;
    height: 22px;
    background: #D9D9D9;
}

#extraneousLinks {
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 24px;
        margin: 24px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        position: fixed;
        /* Make it stick/fixed */
        bottom: 4vh;
        
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
        text-decoration: none;
        font-family: 'Satoshi-Medium';
        padding: 24px;
        flex-direction: row;
        position:fixed;
        transition: bottom 0.3s;
        
    
    }

a{
    color: white;
    text-decoration: none;
}

a:hover {
    font-family: 'Satoshi-Medium';
    cursor: none;
    color: #0A3D62;
    
}



a:visited {
    text-decoration: none;
    color: white;
    
}

button:hover {
    cursor: url('studio.cursorHover.png'), pointer;
    
}

#extraneousLinks a {

    color: #0A3D62;
    text-decoration: none;
}

#extraneousLinks a:visited {
    color: #0A3D62;
    text-decoration: none;
}

#mobileMenuButton {
    display: none; /* Hide the mobileMenuButton by default */
}

/* Media query to show the mobileMenuButton when the device width is less than 1488 pixels */
@media (max-width: 1000px) {


    #extraneousLinks{
        display: none;
    }

    #mobileMenuButton {
        z-index: 2;
        display: flex;
     
        margin: 24px;

        gap: 24px;
        position: fixed;
        /* Make it stick/fixed */
        bottom: 4vh;
        flex-direction: column;
        
        transition: top 0.3s;
    
    
        width: 48px;
        height: 48px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
    
        border-radius: 100%;
        background: #FFF;
    
        box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    }

    a{
        font-size: 10px;
        min-width: 100%;
    }
}

#mobileMenuScreen {
    z-index: 1;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    
    
    /* Make it stick/fixed */
    bottom: 4vh;
    flex-direction: column;
    
    transition: top 0.3s;

    width: 48px;
    height: 48px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: fixed;

    border-radius: 100%;
    background: white;

    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
}

#mobileLinks{
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -800px;
    font-family: 'Satoshi-Medium';
}

#mobileLinks a{
    font-size: 12px;
    text-align: center;
    color: #306252;
    font-family: 'Satoshi-Medium';
}

#menuButtonAnim{
    z-index: 0;
    height: 22px;
}


