@import url(satoshi.css);







html {
    background: #1e272e;
    cursor: url("cursorDark.png"), auto;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    display: flex;
    flex: auto;
    padding-bottom: 4vh;

}

body {
    

    display: flex;
    flex-direction: column;
    align-items: center;

   
}


/* HEADER THINGS */
#headerBox {
    z-index: 2;
 
    width: 100vw;
    position: fixed;
    top: 0;
    transition: top 0.3s;

}



/* LOGO THINGS */
.logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 72px;
    min-width: 60px;
    max-width: 100px;
    background-color: #0A3D62;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 24px;

    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);
    background-color: #20418A;
    



}

.logoBox:hover {
    cursor: url('cursorHover.png'), pointer;
}

#mouse-circle {

    z-index: 2; 
    position: absolute;
    width: 32px;
    height: 32px;
    margin: -13px 0 0 -13px;
    background:rgba(244, 219, 138, 0.2);
    border-radius: 50%;
    pointer-events: none;

}




#tabBox {
    z-index: 1;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px; 
    margin-bottom: 2vh;

}
#tabBox:hover{
    cursor: url('cursorHover.png'), pointer;
}

#selectedTabTitle{
    color: white;
    font-family: "Satoshi-Bold";
    font-size: 16px;
    text-decoration: underline;
}

#deselectedTabTitle{
    color: #CED8E0;
    font-family: "Satoshi-Regular";
    font-size: 16px;
    text-decoration: none;
}

#deselectedTabTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

#selectedTabTitle:hover{
    text-decoration: none;
}


#title{
    padding-top: 8vh;
    display: flex;
    flex-direction: row;
    
    
    align-items: center;
    justify-content: center;
    
    color: #F4E598;
    font-family: 'Satoshi-Medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 72px */
    letter-spacing: -1.44px;
}

#entriesBox{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100vw;
    margin-bottom: 4vh;
    padding-left: 24px; 
}




.entry {
    
    display: flex;
    flex-direction: column;
    align-items: left;
  
    
    

}



.Description {

    display: flex;
    flex-direction: column;
    gap: 36px;
}


.Title {
    color: White;
    font-family: "Satoshi-Medium";
    font-size: clamp(0.6vw, 18px, 3vw);
    height: 4px;
}

.Credit {
    color: White;
    font-family: "Satoshi-Italic";
    font-size: clamp(0.5vw, 14px, 2.8vw);
    height: 18px;
}

.Link {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;

    text-overflow: ellipsis;
}

.Link a {
    
    color: grey;
    font-family: "Satoshi-Medium";
    font-size: 14px;
    height: 12px;
    text-decoration: none;
    text-overflow: ellipsis;

    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    text-overflow: ellipsis;
    font-size: clamp(0.4vw, 12px, 2.2vw);

}


.entry img {
    max-width: 90%;
    max-height: 40vh;
    border-radius: 4px;
}

.seperatorLine{
    
    height: 2px;
    width: 90%;
    background-color: #d2dae2;
}

#extraneousLinks {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    margin: 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: fixed;
    /* Make it stick/fixed */
    bottom: 4vh;
    
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    text-decoration: none;
    font-family: 'Satoshi-Medium';
   
    flex-direction: row;
    transition: bottom 0.3s;

}

#extraneousLinks a{
    text-decoration: none !important ;
    color: #0A3D62;
}

#extraneousLinks a:hover {
    font-family: 'Satoshi-Medium';
    cursor: none;
    color: #0A3D62;
    text-decoration: underline !important ;
    
}

#extraneousLinks a:visited {
    text-decoration: none !important ;
    color: #0A3D62;
    
}

.linesRule {
    width: 1px;
    height: 22px;
    background: #D9D9D9;
}

.Link a:visited{
    
    color: grey;
    font-family: "Satoshi-Medium";
    font-size: 14px;
    height: 12px;
    text-decoration: none;
    text-overflow: ellipsis;

}

button:hover {
    cursor: url('studio.cursorHover.png'), pointer;
    
}

#mobileMenuButton {
    display: none; /* Hide the mobileMenuButton by default */
}

/* Media query to show the mobileMenuButton when the device width is less than 1488 pixels */
@media (max-width: 1000px) {


    #extraneousLinks{
        display: none;
    }

    #mobileMenuButton {
        z-index: 2;
        display: flex;
     
        margin: 24px;

        gap: 24px;
        position: fixed;
        /* Make it stick/fixed */
        bottom: 4vh;
        flex-direction: column;
        
        transition: top 0.3s;
    
    
        width: 48px;
        height: 48px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
    
        border-radius: 100%;
        background: #FFF;
    
        box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    }
}

#mobileMenuScreen {
    z-index: 1;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    
    
    /* Make it stick/fixed */
    bottom: 4vh;
    flex-direction: column;
    
    transition: top 0.3s;

    width: 48px;
    height: 48px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: fixed;

    border-radius: 100%;
    background: white;

    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
}

#mobileLinks{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -800px;
    font-family: 'Satoshi-Medium';
}

#menuButtonAnim{
    z-index: 0;
    height: 22px;
}



#mobileLinks a{
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    color: #20418A;
    font-family: 'Satoshi-Medium';
}



