@import url(satoshi.css);



html {
    background: white;
    cursor: url("studio.cursor.png"), auto;
    align-items: center;
    align-content: center;
    flex-direction: column;

    display: flex;
    flex: auto;
    width: 100vw;
    margin: 0;

}





body {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Satoshi';
    margin-bottom: 30vh;
   
}




#mouse-circle {

    z-index: 2;

    
    position: absolute;
    width: 32px;
    height: 32px;
    margin: -13px 0 0 -13px;
    background: rgba(10, 61, 98, 0.14);
    border-radius: 50%;
    pointer-events: none;

    transition: width 0.2s; /* Transition effect when sliding down (and up) */
    transition: height 0.2s; /* Transition effect when sliding down (and up) */
}



#extraneousLinks {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    margin: 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: fixed;
    /* Make it stick/fixed */
    bottom: 4vh;
    
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    padding: 24px;
    flex-direction: row;
    transition: top 0.3s;

}



#headerBox {
    
    z-index: 2;
    width: 100vw;
    position: fixed;
    top: 0;
    transition: top 0.3s;

}


/* LOGO THINGS */


.logoBox {
    
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 72px;
    min-width: 60px;
    max-width: 100px;
    background: #FFF;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 24px;

    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);



}


.logoBox:hover, .linkOut:hover{
    cursor: url('studio.cursorHover.png'), pointer;

}



#content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12vh;
    flex-grow: 1;
    width: 90vw;
 
}

.logoTitleBox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18px;
}






.workBoxItem{

    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 0px;
    border-radius: 6px;

}

.logoTitleBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.workBoxItem h2{
    color: #20272D;
    font-family: 'Satoshi-Medium';
    font-size: 20px;
}

.workBoxItem h3{
    font-size: 14px;
    font-family: 'Satoshi-Regular';
    color: #151A1E;
    margin: 0;
}

.workBoxItem h4{
    font-size: 16px;
    font-family: 'Satoshi-Regular';
    color: #151A1E;
    margin: 0;
}

.linesRock{
    height: 1px;
    width: 50%;
    background-color: #454B50;
}

.linksBox{
    align-self: flex-start;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: auto;
}

.linkOut{
    align-self: flex-start;
   
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;


}

.linkOut img{
    padding-top: 3px;

}


.linesRule {
    width: 1px;
    height: 22px;
    background: #D9D9D9;
}

.linksBox a{
    color: black;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

#extraneousLinks a:hover {
    font-family: 'Satoshi-Medium';
    /* cursor: url('studio.cursorHover.png'), pointer; */
    cursor: none;
    
}

#extraneousLinks a {
    text-decoration: none;
    color: black;
    
}

#extraneousLinks a:visited {
    text-decoration: none;
    color: black;
}





#mobileMenuButton {
    display: none; /* Hide the mobileMenuButton by default */
}

/* Media query to show the mobileMenuButton when the device width is less than 1488 pixels */
@media (max-width: 1000px) {



    #extraneousLinks{
        display: none;
    }

    #mobileMenuButton {
       
        display: flex;
        z-index: 2;
        margin: 24px;

        gap: 24px;
        position: fixed;
        /* Make it stick/fixed */
        bottom: 4vh;
        flex-direction: column;
        
        transition: top 0.3s;
    
    
        width: 48px;
        height: 48px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
    
        border-radius: 100%;
        background: #FFF;
    
        box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    }
}

#mobileMenuScreen {
    z-index: 1;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    
    
    /* Make it stick/fixed */
    bottom: 4vh;
    flex-direction: column;
    
    transition: top 0.3s;

    width: 48px;
    height: 48px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: fixed;

    border-radius: 100%;
    background: white;

    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
}

#mobileLinks{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -800px;
    font-family: 'Satoshi-Medium';
}

#mobileLinks a{
    color: #0A3D62;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    font-family: 'Satoshi-Medium';
}

#menuButtonAnim{
    z-index: 0;
    height: 22px;
}


@media (max-width: 1000px) {


    #workBox{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90vw;
        
    }

    #workBox01{
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: flex-start;
    }

    #workBox02{
        display: flex;
        flex-direction: column;
        width:90vw;
        align-items: flex-start;
    }

    .workBoxItem{
        padding-top: 12px;
        width: 80vw;
    }

    #workBox h2{
        font-size: 16px;
        margin-bottom: 16px;
    }

    #workBox h4{font-size: 12px}
    .logoTitleBox img{
        width: 32px;
        height: 32px
        
    }

    .linkOut {
        gap: 2px;
    }

    a img{
        width: 24px
    }
    .linkOut{
        margin: ;
    }

}