@import url(satoshi.css);



html {
    
    background-color: #F3F7FC;
    cursor: url("studio.cursor.png"), auto;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    display: flex;
   

}





body {
    
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}



#mouse-circle {

    z-index: 2;

    
    position: absolute;
    width: 32px;
    height: 32px;
    margin: -13px 0 0 -13px;
    background: rgba(10, 61, 98, 0.14);
    border-radius: 50%;
    pointer-events: none;

    transition: width 0.2s; /* Transition effect when sliding down (and up) */
    transition: height 0.2s; /* Transition effect when sliding down (and up) */
}



#extraneousLinks {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    margin: 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: fixed;
    /* Make it stick/fixed */
    bottom: 4vh;
    
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    padding: 24px;
    flex-direction: row;
    transition: top 0.3s;

}




#headerBox {
    
    z-index: 2;
    width: 100vw;
    position: fixed;
    top: 0;
    transition: top 0.3s;

}


/* LOGO THINGS */


.logoBox {
    
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 72px;
    min-width: 60px;
    max-width: 100px;
    background-color: #0A3D62;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 24px;

    box-shadow: 0px 7.2px 8px rgba(7, 66, 47, 0.1);



}


.logoBox:hover{
    cursor: url('studio.cursorHover.png'), pointer;

}


#content{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    margin: 24px;
    flex-grow: 1;
}

#banner{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



#liveProjectBanner{
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: white;
    background-color: #2F82FF;
    box-shadow: 0px 7.2px 8px 0px rgba(7, 66, 47, 0.10);

    padding: 0px 18px 0px 18px;
    justify-content: center;
    height: clamp(32px, 60px, 32px);
    margin: clamp(12px, 0px, 0px);
    align-items: center;

    border-radius: 48px;
 
    
}



#liveProjectBanner img[src$="arrow_right.svg"] {
    filter: brightness(0) invert(1);
}



#liveProjectBanner h4{
    min-width: 120px;
    color: white;
    margin: 0px;
    font-size: 12px;
    font-family: 'Satoshi-Regular';
    font-weight: 400;
    font-style: normal;
    
}

#liveProjectBanner h4:visited{
    text-decoration: none;
    color: white;
}
#liveProjectBanner h4:hover{
    color: white;
    text-decoration: none;
}

#liveButton{
    min-height: 12px;
    min-width: 12px;
    background-color: red;
    border-radius: 100%;
}




#plunkContent{
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Satoshi-Bold';
    gap: 24px;
    

}





.textBlurb{
    width: 100%;
    background-color: white;
    padding: 0px 16px 0px 16px; 
    border-radius: 12px;
    
}

.tabMenu{
    display: flex;
    flex-direction: row;
    gap: 24px;

}


h2{
    color: #003960;

    text-align: center;

    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -6px;
}

h3{
    color: #496A85;

    text-align: center;
    font-family: 'Satoshi-Regular';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; 
    letter-spacing: -1.6px;
    margin: 48px;

}

h5{
    color: #003960;
    font-family: 'Satoshi-Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    
}


.slideSection{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 0px 48px 0px;
    border-radius: 12px;
}

#imageSlide{
    padding: 48px 0px 0px 0px;
}

#groundImage{

    
    border-radius: 0px 0px 12px 12px;
}


.chipRack{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.titleChip{
    display: flex;
    flex-direction: row;
    background-color: #003960;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    box-shadow: 0px 2px 2px 0px rgba(129, 129, 129, 0.14), 0px 3px 1px 0px rgba(129, 129, 129, 0.12), 0px 1px 5px 0px rgba(129, 129, 129, 0.20);
    width: fit-content;
    padding: 8px 16px 8px 16px;
}

.subTitleChip{
    display: flex;
    flex-direction: row;
    
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    
    width: fit-content;
    padding: 8px 16px 8px 16px;
    background-color: #809CAF ;
    
}

h4{
    margin: 0px;

}






.linesRule {
    width: 1px;
    height: 22px;
    background: #D9D9D9;
}

.linesRock{
    width: 100%;
    background-color: #D9D9D9;
    height: 2px;

}



a{
    color: #0A3D62;
    text-decoration: none;
}

#extraneousLinks a:hover {
    font-family: 'Satoshi-Medium';
    /* cursor: url('studio.cursorHover.png'), pointer; */
    cursor: none;
    
}

#extraneousLinks a:visited {
    text-decoration: none;
    color: #0A3D62;
}

button:hover {
    cursor: url('studio.cursorHover.png'), pointer;
    
}



#mobileMenuButton {
    display: none;
}


@media (max-width: 1200px) {

    


    #body {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    #content{
        
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        

        padding: 0px 0px 0px 0px;
        padding-top: 8vh;
        margin: 0;

    }

    #plunkContent{
        display: flex;

        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        margin: 0px;
        margin-top: 48px;
       
        padding: 0px;
    }


    h2{
        color: #003960;
    
        text-align: center;
        
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -1.6px;
    }

    h3{
        font-size: 22px;
        letter-spacing: -0.2;
    }


    h5{
        color: #003960;
        font-family: 'Satoshi-Regular';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        
    }





    .textBlurb{
        width: 80vw;
        background-color: white;
        padding: 0px 8px 0px 8px; 
        border-radius: 12px;
        
    }



  


    
}

